@{
    ViewBag.Title = "All Users";
}
<br />

@if (TempData["Message"] != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        @TempData["Message"]
    </div>
}

<h3>@Html.ActionLink("All Users", "Index", "ApplicationUsers")</h3>
